
.light-mode {
    background-color: white;
    color: black;
  }
  
  /* Estilo para el modo nocturno */
  .dark-mode {
    background-color: #ff0000;
    color: white;
  }
  
  /* Estilos para el botón */
  button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: white;
  }
  
  button:hover {
    background-color: #000000;
  }
  